.background {
    width: 100%;
    background-image:  linear-gradient(to bottom right, #0099FF,  #CC00FF);
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    min-height: 100vh;
}

.all {
    margin: auto;
    overflow: visible;
}

/*----- Navigation Bar -----*/

.header{
  margin-top: 0px;  
} 

/*----- Quote --------*/

#quotebackground {
    background-image: linear-gradient(to bottom right, red, blue);
    border-bottom: 5px solid orange;
}

.quote {
    color: white;
    font-family: monospace;
    width: 40%;
    margin: auto;
    text-align: center;
}

/*----- Main Content -------*/

.main {
    padding-top: 30px;

}

.imagery {
    width: 85%;
    margin: auto;
}

.imagery img {
    transition: transform 0.2s ease-in-out;
    margin-left: 35px;
    filter: drop-shadow(1px 1px 1px black) contrast(1);
    border-radius: 3px;
    
}

.imagery p {
    margin: 10px;
    text-align: center;
}

.wrapper {
    text-align: center;
}

.imagery button {
    
}

.imagery img:hover {
    transform: scale(1.053);
    animation: img-highlight 0.2s ease-in;
    filter: drop-shadow(4px 4px 4px black) contrast(1.15);
}

@keyframes img-highlight {
    0% { filter: drop-shadow(0px 0px 0px black);}
    100% { filter: drop-shadow(4px 4px 4px black) contrast(1.15);}
}

.append {
    width: 32%;
    float: left;
}

/*----- Media Resizing -----*/

@media screen and (max-width: 800px){
    .all .header .quote .main {
        width: 100%;
    }
}