/* gallery */

.gallery {
    height: 36.7%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: lavender;
    margin-bottom: 28px;
    overflow: hidden;
    border-bottom: 2px #ff5151 solid;
}

.galleryImgFlex {
    width: 100%;
    height: inherit;
    position: absolute;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

#galleryImgMiniDescWrapper {
    position: absolute;
    height: 36.7%; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}

#galleryImgMiniDescTxt {
    text-align: center;
}

#galleryMiniNav {
    flex-grow: 1;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    border: 2px #ff5151 solid;
}

.galleryMiniNavItems {
    border: 0px;
    transition: transform .2s;
    pointer-events: all;
}

.galleryMiniNavItems:hover {
    transform: scale(1.35);
}

#galleryImg {
    width: 100%;
    height: 100%;
    background-image: url("MEDIA/gettyimages-625668002.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 73%;
}


#left {
    margin-left: 20px;
}

#right {
    margin-right: 20px;
}

/* content */

.wrapper {
    display: flex;
    flex-direction: row;
    /* height: 400px; */
}

.segment {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 47.5%; /* changed from 49.2% */
    background-color: #ff5151;
}

#txtBox0 {
    
}

#txtBox1 {

}