#helpNavBar {
    width: 100%;
    height: 7.8%;
    margin-bottom: 28px;
    background-color: lawngreen;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    height: 500px;
}

.contactsWrapper {
    height: 78.4%;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 25px;
}

#contactsNavWrapper {
    width: 16.2%;
    background-color: firebrick;
}

#contactsTxtWrapper {
    width: 77.9%;
    background-color: firebrick;
}

#termsAndServicesWrapper {
    flex-grow: 1;
    background-color: aquamarine;
}