/* global config ------------------------------------*/

body {
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
    
    font-family:"Segoe UI";
    background-color: white;
    margin-bottom: 0;
}

.globalMargin {
    width: 95.8%;
    margin-left: auto;
    margin-right: auto;
}

#halftoneBackground {
    background-repeat: repeat-x;
    background-image: url("MEDIA/circle-black-halftone-vector-background_1017-14239.jpg"); /*this is the default background color*/
    background-position: 0% 40%;
    background-size: contain;
    width: 100%;
    height: 10%;
    margin-top: 10px;
}


/* navigation bar config ----------------------------*/

/* header */

.header {
    height: 19.8%; /* add border */
    /*background-color: orangered;*/
}

/* navigation bar */

.navigation {
    height: 63px; /* changed from 53px to 63px */
    width: 100%;
    background-color: aqua;
    overflow: hidden;
}

ul {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ffa41b;
}

.listShift {
    margin-left: 200px;
}

li {
    list-style: none;
    float: left;
    height: 100%;
}

li a {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 28px;
    color: black;
    display: block;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    text-decoration: none;
    font-size: 18px;
}

li a:hover {
    background-color: #9818d6;
    color: #ffa41b;
}

#activePage {
    background-color: #9818d6;
    font-weight: bold;
}

.contactPage {
    float: right;
    padding-right: 10px;
}

#logoImg {
    position: absolute;
    left: 54px;
    width: 10.9%;
    height: 15.6%;
    border: 4px #ffa41b solid;
    background-image: url(MEDIA/logo.png);
    background-position: 50% 50%;
    background-size: 150% 150%;
    background-repeat: repeat;
    background-color: #404147;
}