/* gallery */

.gallery {
    height: 50.2%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: lavender;
    margin-bottom: 23px;
    overflow: hidden;
    border-bottom: 2px #ff5151 solid;
}

.galleryImgFlex {
    width: 100%;
    height: inherit;
    position: absolute;
    
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#galleryImgMiniDescWrapper {
    position: absolute;
    height: 50.2%; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}

#galleryImgMiniDescTxt {
    text-align: center;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    color: white;
}

#galleryMiniNav {
    flex-grow: 1;
    background-color: white;
    border-color: #ff5151;
    border-width: 2px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 25%;
}

.galleryMiniNavItems {
    border: 0px;
    transition: transform .2s;
    pointer-events: all;
}

.galleryMiniNavItemsFormat {
}

.galleryMiniNavItems:hover {
    transform: scale(1.35);
}

#galleryImg {
    width: 100%;
    height: 100%;
    background-image: url("MEDIA/nuclear-energy-hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 55%;
}

#left {
    margin-left: 20px;
}

#right {
    margin-right: 20px;
}

/* desc img */

#descImg {
    width: 27.4%;
    height: 100%;
    margin-right: 18px;
    float: left;
    
    background-image: url("MEDIA/solar-array-on-red-tile-roof-1002x613.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 4px 4px #dcb4f4;
    transition: box-shadow 0.2s ease-in-out, left 0.2s ease-in-out, top 0.2s ease-in-out;
    left: 0;
    top: 0;
    position: relative;
}

#descImg:hover {
    box-shadow: 7px 7px #dcb4f4;
    left: -3;
    top: -3;
}

.descBox {
    width: 100%;
    height: 24.7%;
    overflow: visible;
}

.descText {
    height: 100%;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#txtBox0 {
    height: 71.2%;
    background-color: #9818d6;
    margin-bottom: 15px;
    box-shadow: 3px 3px #dcb4f4;
    color: white;
    padding: 5px;
}

#learnMoreButton {
    flex-grow: 1;
    width: 100%;
    background-color: #9c1cd3;
    color: white;
}

#halftoneBackground {
    background-repeat: repeat-x;
    background-image: url("MEDIA/circle-black-halftone-vector-background_1017-14239.jpg");
    background-position: 0% 40%;
    background-size: contain;
    width: 100%;
    height: 10%;
    bottom: 0;
}

/* @media thing */