/* Media Queries */

/* Iphone X Landscape */
@media screen and (max-width: 812px) {
    /* navigation */
    .navigation { height: 38px; }
    
    .listShift { margin-left: 150px;}
    li a {
        left;
        padding-top: 7px; 
        padding-bottom: 14px;
        font-size: 13;
    }
    #logoImg { width: 10.9%; height: 15.6%;}
    .header { height: 19.8%; }
    
    /* Index */
    .descText { font-size: 9; }
    .descBox { margin-bottom: 10px;}
    .galleryINDEX { height: 42.2%; }
    .galleryINDEX #galleryImgMiniDescWrapper { height: 42.2%; }
    .galleryINDEX #galleryImgMiniDescTxt { font-size: 15; }
    
    /* Clean Energy */
    .galleryCE #galleryImgMiniDescTxt { font-size: 15; }
    .segmentCE { padding-right: 4; padding-left: 4; font-size: 13;}
    
    /* Affordable Energy */
    .segmentAE { font-size: 13; }
    
    /* How This Affects You */
    .segmentHTAY { padding-right: 6; padding-left: 6; font-size: 13; }
    #aLinkTextHTAY { font-size: 15; }
    
    /* References */
    .segmentReferences { font-size: 8.5; }
    #aLinkTextREF { font-size: 14; }
}

/* Iphone X Potrait */
@media screen and (max-width: 375px) {
    /* navigation */
    .navigation { height: 38px; }
    
    .listShift { margin-left: 50px;}
    li a {
        padding-top: 15px; 
        padding-bottom: 30px;
        padding-right: 5px;
        font-size: 7;
    }
    
    #logoImg { 
        left: 5;
        top: 26;
        width: 10.9%; 
        height: 5.6%;}
    .header { height: 9%; }
    
    /* Index */
    .descText { font-size: 9.9; }
    .descBox { margin-bottom: 10px;}
    #descImgText { font-size: 16; }
    .galleryINDEX { height: 42.2%; }
    .galleryINDEX #galleryImgMiniDescWrapper { height: 42.2%; }
    .galleryINDEX #galleryImgMiniDescTxt { font-size: 15; }
    .galleryINDEX #galleryMiniNav { width: 60%; }
    
    /* Clean Energy */
    .galleryCE { height: 25%; }
    .galleryCE #galleryImgMiniDescWrapper { height: 25%; }
    .galleryCE #galleryImgMiniDescTxt { font-size: 11; }
    .galleryCE #galleryMiniNav { width: 30%; }
    .segmentCE { padding-right: 2; padding-left: 2; font-size: 12;}
    
    /* Affordable Energy */
    .segmentAE { font-size: 12; }
    
    /* How This Affects You */
    .segmentHTAY { padding-right: 3; padding-left: 3; font-size: 12; }
    #aLinkTextHTAY { font-size: 15; }
    
    /* References */
    .segmentReferences { padding-right: 3; padding-left: 3; font-size: 9; }
    #aLinkTextREF { font-size: 14; }
}

/* 4k Landscape */
@media screen and (max-width: 2560px) {
    
}

/* 4k Potrait */
@media screen and (max-width: 1425px) {
    
}

/* Laptop L - 1440px Landscape */
@media screen and (max-width: 1440px) {
    
}

/* Laptop L - 1440px Potrait */
@media screen and (max-width: 760px) {
    
}

/* Laptop - 1024px Landscape */
@media screen and (max-width: 1024px) {
    
}

/* Laptop - 1024px Potrait */
@media screen and (max-width: 570px) {
    
}

/* Tablet Landscape */
@media screen and (max-width: 768px) {
    
}

/* Tablet Potrait */
@media screen and (max-width: 570px) {
    
}

/* Mobile L Landscape */
@media screen and (max-width: 570px) {
    
}

/* Mobile L Potrait */
@media screen and (max-width: 425px) {
    
}

/* Mobile M Landscape */
@media screen and (max-width: 570px) {
    
}

/* Mobile M Potrait */
@media screen and (max-width: 375px) {
        /* navigation */
    .navigation { height: 38px; }
    
    .listShift { margin-left: 50px;}
    li a {
        padding-top: 15px; 
        padding-bottom: 30px;
        padding-right: 5px;
        font-size: 5.5;
    }
    
    #logoImg { 
        left: 5;
        top: 30;
        width: 11.9%; 
        height: 6.6%;}
    .header { height: 12%; }
    .contactPage { padding-right: 4px; }
    
    /* Index */
    .descText { font-size: 7; }
    .descBox { margin-bottom: 10px;}
    #descImgText { font-size: 14; }
    .galleryINDEX { height: 42.2%; }
    .galleryINDEX #galleryImgMiniDescWrapper { height: 42.2%; }
    .galleryINDEX #galleryImgMiniDescTxt { font-size: 13; }
    .galleryINDEX #galleryMiniNav { width: 60%; }
    #learnMoreButton { display: none; z-index: -1;}
    #txtBox0 { height: 100%; z-index: 1;}
    
    /* Clean Energy */
    .galleryCE { height: 25%; }
    .galleryCE #galleryImgMiniDescWrapper { height: 25%; }
    .galleryCE #galleryImgMiniDescTxt { font-size: 8.4; }
    .galleryCE #galleryMiniNav { width: 30%; }
    .segmentCE { padding-right: 2; padding-left: 2; font-size: 10;}
    
    /* Affordable Energy */
    .segmentAE { font-size: 8.5; }
    
    /* How This Affects You */
    .segmentHTAY { padding-right: 3; padding-left: 3; font-size: 12; }
    #aLinkTextHTAY { font-size: 13; }
    
    /* References */
    .segmentReferences { padding-right: 3; padding-left: 3; font-size: 7; }
    #aLinkTextREF { font-size: 14; }
}

/* Mobile S Landscape */
@media screen and (max-width: 570px) {
    
}

/* Mobile S Potrait */
@media screen and (max-width: 320px) {
    /* navigation */
    .navigation { height: 38px; }
    
    .listShift { margin-left: 50px;}
    li a {
        padding-top: 15px; 
        padding-bottom: 30px;
        padding-right: 5px;
        font-size: 5.5;
    }
    
    #logoImg { 
        left: 5;
        top: 30;
        width: 11.9%; 
        height: 6.6%;}
    .header { height: 12%; }
    .contactPage { padding-right: 4px; }
    
    /* Index */
    .descText { font-size: 7; }
    .descBox { margin-bottom: 10px;}
    #descImgText { font-size: 14; }
    .galleryINDEX { height: 42.2%; }
    .galleryINDEX #galleryImgMiniDescWrapper { height: 42.2%; }
    .galleryINDEX #galleryImgMiniDescTxt { font-size: 13; }
    .galleryINDEX #galleryMiniNav { width: 60%; }
    #learnMoreButton { display: none; z-index: -1;}
    #txtBox0 { height: 100%; z-index: 1;}
    
    /* Clean Energy */
    .galleryCE { height: 25%; }
    .galleryCE #galleryImgMiniDescWrapper { height: 25%; }
    .galleryCE #galleryImgMiniDescTxt { font-size: 8.4; }
    .galleryCE #galleryMiniNav { width: 30%; }
    .segmentCE { padding-right: 2; padding-left: 2; font-size: 10;}
    
    /* Affordable Energy */
    .segmentAE { font-size: 8.5; }
    
    /* How This Affects You */
    .segmentHTAY { padding-right: 3; padding-left: 3; font-size: 12; }
    #aLinkTextHTAY { font-size: 13; }
    
    /* References */
    .segmentReferences { padding-right: 3; padding-left: 3; font-size: 7; }
    #aLinkTextREF { font-size: 14; }
}