.background {
    width: 100%;
    background-image:  linear-gradient(to bottom right, #0099FF,  #CC00FF);
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    height: 100vh;
    overflow: hidden;
}

.all {

    margin: auto;
    overflow: visible;
}

.header {
    float: left;
    width: 100%;
    border-style: solid;
    border-bottom-color: darkgray;
    border-bottom-width: 5px;
    background-color: #17202a;
    margin-bottom: 10px;
}

#quotebackground {
    background-image: linear-gradient(to bottom right, red, blue);
    border-bottom: 10px solid green;
}

.quote {
    font-family: monospace;
    width: 40%;
    margin: auto;
    text-align: center;
}

.main {
    background-color: rebeccapurple;
    padding-top: px;

}

.imagery {
    width: 85%;
    margin: auto;
}

.imagery img {
    transition: transform 0.2s ease-in-out;
    margin-left: 35px;
}

.imagery p {
    margin: 10px;
    text-align: center;
}

.wrapper {
    text-align: center;
}

.imagery button {
    
}

.imagery img:hover {
    transform: scale(1.05);
}

.append {
    width: 32%;
    float: left;
}


ul {
    overflow: visible;
    position: relative;
    top: 2px;
    float: inherit;
    list-style: none;
    margin: 0;
    margin-left: 220px;
    padding: 0;
}

li {
    float: left;
    padding-top: 27px;
    padding-bottom: 27px;
}

li a {
    margin-right: 10px;
    text-decoration: none;
    color: darkgray;
    font-family: monospace;
    font-size: 130%;
    padding: 25px 30px;
    background-color: #17202a;
    border-bottom: 5px solid darkgray;
    transition: border 0.2s ease-in-out, color 0.2s ease-in-out;
}

#signin {
    margin-left: 170px;
}

li a:hover {
    border-color: white;
    color: white;
}

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

@media screen and (max-width: 800px){
    .all .header .quote .main {
        width: 100%;
    }
}