.header {
    margin: auto;
    width: 80%;
    padding: 5px;
    background-color: yellow;
}

.nav {
    float: left;
    width: 16%;
    background-color: red;
    margin: 10px;
    border: 5px solid black;
    padding: 5px;
    height: 150px;
}

.main {
    float: left;
    width: 74%;
    margin-top: 10px;
    padding: 5px;
    border: 5px solid powderblue;
    background-color: green;
}

li {
    float: top;
}

li a {
    background-color: gold;
    text-decoration: none;
    display: block;
    margin: 5px;
    padding-left: 5px;
}

li a:hover {
    background-color: blueviolet;
}

#splash {
    float: left;
    border: 5px solid fuchsia;
    margin: 10px;
}

@media screen and (max-width: 800px){
    .nav .header .main { 
        width: 100%;
    }
}