.all {
    width: 97%;
    margin: auto;
}

.header {
    background-color: dodgerblue;
    padding: 4px;
    text-align: center;
    font-family: cursive;
}

.main {
    background-color: deeppink;
    margin-top: 10px;
    height: 300px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li a {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

li a:in-range(20) {
    transform: scale(1.2);
    transition-duration: 0.2s;
}

@media screen and (max-width: 800px){
    .all .header .main {
        width: 100%;
    }
}