body {
    background-image: url("orion.jpg");
    background-size: 120% 120%;
    animation: blend 10s ease-out infinite;
}

@keyframes blend {
    0%{background-position: 50% 45%}
    10%{background-position: 55% 55%}
    20%{background-position: 45% 50%}
    30%{background-position: 55% 40%}
    40%{background-position: 50% 45%}
    50%{background-position: 55% 55%}
    60%{background-position: 45% 40%}
    70%{background-position: 40% 60%}
    80%{background-position: 45% 50%}
    90%{background-position: 30% 55%}
    100%{background-position: 50% 45%}
}