.wrapper {
    display: flex;
    flex-direction: row;
    height: 60.7%;
    width: 100%;
    margin-bottom: 18px;
}

.segment {
    background-color: darkblue;
    width: 47.2%
}

.footerWrapper {
    display: flex;
    flex-direction: row;
    height: 16.5%;
    width: 100%;
}

#contactLink {
    
}

#adLink {

}